<% unless @properties && (@properties.size > 0 ) %>
  <h4 style="margin-top: 40px;text-transform: none;">
    <%= t "noResultsForSearch" %>
  </h4>
<% end %>
<div id="results">
  <% @properties.each_with_index do |property, index| %>
    <section id="unit-59db5881c011184d6d00038a">
      <p class="index"><span class="visuallyhidden">Result #</span> <%= index + 1 %> </p>
      <figure>
        <%= opt_image_tag((property.ordered_photo 1), quality: "auto",
            height: 200, width: 300, crop: "scale", class: "img-responsive", alt: "Apartment") %>
      </figure>
      <div class="description">
        <h2>
          <%= link_to property.title, property.contextual_show_path(@operation_type)  %>
        </h2>
        <p>5th Ave. New York, NY 10001<br>
          <span class="hood">Downtown</span></p>
        <p class="price"><span><%= property.contextual_price_with_currency @operation_type  %></span> per day</p>
      </div>
      <ul class="amenities">
        <li class="icon-bed"><span class="visuallyhidden">Beds:</span><%= property.count_bedrooms %> <span>BR</span></li>
        <li class="icon-bath"><span class="visuallyhidden">Bathrooms:</span> <%= property.count_bathrooms %> <span>Bath</span></li>
      </ul>
      <div class="co-brand">
        <a href="/apartments?company=john-walker-sons-inc-52fc58">

          <img alt="brand" src="https://images.unsplash.com/photo-1470082719408-b2843ab5c9ab?dpr=1&auto=compress,format&fit=crop&w=1782&h=&q=80&cs=tinysrgb">
        </a>
      </div>
    </section>
  <% end %>
</div>
