<section class="light-gray bb" aria-label="Our Services">
  <div class="wp-section services-section">
    <div class="bst-container">
      <div class="row services-wrapper">
        <div class="col-md-4 ss-cont">
          <div class="single-service">
            <div class="bordered top-bordered"></div>
            <div class="icon-service">{{ "home" | material_icon: "lg" }}</div>
            <h2 class="h4">{{ page_part["title_a"]["content"] }}</h2>
            <p>{{ page_part["content_a"]["content"] }}</p>
          </div>
        </div>
        <div class="col-md-4 ss-cont">
          <div class="single-service">
            <div class="bordered top-bordered"></div>
            <div class="icon-service">{{ "person" | material_icon: "lg" }}</div>
            <h2 class="h4">{{ page_part["title_b"]["content"] }}</h2>
            <p>{{ page_part["content_b"]["content"] }}</p>
          </div>
        </div>
        <div class="col-md-4 ss-cont">
          <div class="single-service">
            <div class="bordered top-bordered"></div>
            <div class="icon-service">{{ "attach_money" | material_icon: "lg" }}</div>
            <h2 class="h4">{{ page_part["title_c"]["content"] }}</h2>
            <p>{{ page_part["content_c"]["content"] }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>