<% content_for :page_script do %>
<%= javascript_tag do %>
  $(document).ready(
    function(){
      $('#inmo-search-results').html("<%= j (render 'search_results') %>");
      $('select').selectpicker({
        noneSelectedText: '<%= I18n.t("selectpicker.noneSelectedText") %>',
        noneResultsText: '<%= I18n.t("selectpicker.noneResultsText") %>',
        countSelectedText: '<%= I18n.t("selectpicker.countSelectedText") %>'
      });
      INMOAPP.truncateDescriptions();
      INMOAPP.sortSearchResults();
    }
  );
<% end %>
<% end %>
<section id="top-container" style="<%= bg_image @header_image, height: 800, crop: "scale", quality: "auto" %>">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-container-inner">
          <h2>
            <%= I18n.t("searchForProperties") %>
          </h2>
          <div>
            <ol class="breadcrumb">
              <li>
                <a href="/">
                  <%= I18n.t("webContentSections.home") %>
                </a>
              </li>
              <li class="active">
                <%= I18n.t("searchForProperties") %>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="aa-main">
  <div class="container">
    <div class="row aa-prop-list">
      <div class="col-md-9 col-sm-12 col-xs-12">
        <%# render '/pwb/search/search_results_b' %>
        <!-- placeholder for ajax refresh: -->
        <div id="inmo-search-results">
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="sidebar">
          <!-- FILTERS -->
          <%= render '/pwb/search/search_form_for_rent' %>
          <%# render '/pwb/search/go_to_property' %>
          <!-- RECENTLY VIEWED -->
        </div>
      </div>
    </div>
  </div>
</section>