<section id="top-container" style="<%= bg_image @header_image, height: 800, crop: "scale", quality: "auto" %>">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-container-inner">
          <h2>
            <%= I18n.t("aboutUs") %>
          </h2>
          <div>
            <ol class="breadcrumb">
              <li>
                <a href="/">
                  <%= I18n.t("webContentSections.home") %>
                </a>
              </li>
              <li class="active">
                <%= I18n.t("aboutUs") %>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="aa-main">
  <div class="container">
    <row>
      <div class="col-md-12">
        <div class="aa-main-area">
          <div class="row">
            <div class="col-md-6">
              <%= opt_image_tag(@content.default_photo, :quality => "auto", class: "img-responsive about-us-img") %>
            </div>
            <div class="col-md-6">
              <div class="section-title-wr mt-40">
                <h3 class="section-title left">
                  <span>
                    <%= I18n.t("aboutUs") %>
                  </span>
                </h3>
              </div>
              <div>
                <p>
                  <%== @content.raw %>
                </p>
              </div>
              <div>
                <% if @is_subdomain_admin  %>
                  <%= link_to I18n.t("labels.edit"), "#{ "/" + I18n.locale.to_s + @content.urls['adminUrl'] }"  %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </row>
  </div>
</section>
<!-- <section class="slice bg-white bb min-height-600 margin50">
  <div class="wp-section">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>
</section> -->
