<% page_title @current_agency.company_name  %>
<section id="top-container" style="<%= bg_image @header_image, height: 800, crop: "scale", quality: "auto" %>">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-container-inner">
          <h2>
            <%= I18n.t("contactUs") %>
          </h2>
          <div>
            <ol class="breadcrumb">
              <li>
                <a href="/">
                  <%= I18n.t("webContentSections.home") %>
                </a>
              </li>
              <li class="active">
                <%= I18n.t("contactUs") %>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="aa-main">
  <div class="container">
    <div class="col-md-12">
      <div class="aa-main-area">
        <div class="row">
          <div class="col-md-7">
            <%= render 'pwb/sections/contact_us_form' %>
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-sm-12">
                <%# render '/main/home/about_us/contact_info' %>
              </div>
              <div class="col-sm-12" style="display:none;">
                <%# render '/main/home/about_us/opening_hours' %>
              </div>
              <div class="col-sm-12">
                <% if @current_agency.show_contact_map %>
                  <div id="inmo-map-canvas" class="map-canvas no-margin"></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>