<% page_title @current_agency.company_name  %>
<%= render '/pwb/meta_tags' %>
<section id="top-container" style="background-image: url(<%= @header_image_url %>);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-container-inner">
          <h2>
            <%= I18n.t("contactUs") %>
          </h2>
          <div>
            <ol class="breadcrumb">
              <li>
                <a href="/">
                  <%= I18n.t("webContentSections.home") %>
                </a>
              </li>
              <li class="active">
                <%= I18n.t("contactUs") %>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="aa-main">
  <div class="container">
    <div class="col-md-12">
        <div class="row">
          <% @page.ordered_visible_page_contents.each do |page_content| %>
            <%= page_part page_content %>
          <% end %>
        </div>
        <%= page_component "form_and_map", @page %>
    </div>
  </div>
</section>