<% page_title @current_agency.company_name  %>
<%= render '/pwb/meta_tags' %>
<!-- MAIN CONTENT -->
<div class="pg-opt">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>
          <%= I18n.t("aboutUs") %>
        </h2>
      </div>

      <div class="col-md-6" style="">
        <ol class="breadcrumb">
          <li><a href="/">
            <%= I18n.t("webContentSections.home") %>
          </a></li>
          <li class="active">
            <%= I18n.t("aboutUs") %>
          </li>
        </ol>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <% @content_to_show.each do |content| %>
    <div class="col-md-12">
      <%== content %>
    </div>
  <% end %>
</div>
<section class="slice bg-white bb">
  <div class="wp-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <%= opt_image_tag(@content.default_photo, :quality => "auto", height: 600, crop: "scale", class: "img-responsive about-us-img", alt: "") %>
        </div>
        <div class="col-md-6">
          <div class="section-title-wr mt-40">
            <h3 class="section-title left">
              <span>
                <%= I18n.t("aboutUs") %>
              </span>
            </h3>
          </div>
          <div>
          <p>
            <%== @content.raw %>
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- FOOTER -->
