<% page_title @current_agency.company_name  %>
<%= render '/pwb/meta_tags' %>

<section id="top-container" style="background-image: url(<%= @header_image_url %>);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-container-inner">
          <h2>
            <%= I18n.t("contactUs") %>
          </h2>
          <div>
            <ol class="breadcrumb">
              <li>
                <a href="/">
                  <%= I18n.t("webContentSections.home") %>
                </a>
              </li>
              <li class="active">
                <%= I18n.t("contactUs") %>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="row">
  <% @content_to_show.each do |content| %>
    <div class="col-md-12">
      <%== content %>
    </div>
  <% end %>
</div>
<% if @current_website.configuration["show_landing_searchbar"]  %>
  <div class="landing-search-container row fondo_secundario">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <%= render '/pwb/search/search_form_landing' %>
    </div>
    <div class="col-md-1"></div>
  </div>
<% end  %>


<%# render '/pwb/welcome/landing_carousel' %>

<%# render '/pwb/welcome/service' %>


<!-- Latest properties -->
<section id="aa-latest-property">
  <div class="container">
    <div class="aa-latest-property-area">
      <div class="aa-title">
        <h2 style="text-transform: capitalize;"><%= I18n.t("labels.latestProperties") %></h2>
        <span></span>
        <p style="display: none;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum sit ea nobis quae vero voluptatibus.</p>
      </div>
      <div class="aa-latest-properties-content">
        <div class="row">
          <% if @properties_for_sale.length > 0  %>
            <%= render :partial => '/pwb/welcome/latest_properties', :locals => { properties: @properties_for_sale, rent_or_sale: 'for_sale', title_key: 'propertyForSale' }  %>
          <% end %>
          <% if @properties_for_rent.length > 0  %>
            <%= render :partial => '/pwb/welcome/latest_properties', :locals => { properties: @properties_for_rent, rent_or_sale: 'for_rent', title_key: 'propertyForRent' }  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Latest property -->