<div class="panel panel-default panel-sidebar-1">
  <div class="panel-heading">
    <h2>
      <%= I18n.t("searchForProperties") %>
    </h2>
  </div>
  <div class="panel-body">
    <%= simple_form_for :search, :url => '/search_ajax_for_rent.js', :method => 'post', 
  :html => { :class => 'form-light' }, :remote => true do |f| %>
      <div class="row div_precios_venta" style="">
        <div class="col-sm-6">
          <div class="form-group select optional search_for_sale_price_from">
            <label class="control-label select optional" for="search_for_sale_price_from"><%= I18n.t("simple_form.labels.search.for_rent_price_from") %></label>
            <select-picker :select-picker-texts="<%= @select_picker_texts %>" :select-options="<%= @prices_from_collection %>" class="form-control" 
            id="search_for_rent_price_from" name="search[for_rent_price_from]" v-once></select-picker>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group select optional search_for_sale_price_till">
            <label class="control-label select optional" for="search_for_sale_price_till"><%= I18n.t("simple_form.labels.search.for_rent_price_till") %></label>
            <select-picker :select-picker-texts="<%= @select_picker_texts %>" :select-options="<%= @prices_till_collection %>" class="form-control" 
            id="search_for_rent_price_till" name="search[for_rent_price_till]"></select-picker>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
      </div>
      <%= f.input :property_type, collection: @property_types, label_method: :label, selected: @search_defaults["property_type"], value_method: :value, :required => false %>
      <% if @zones && (@zones.length > 1) %>
        <%= f.input :in_zone, collection: @zones, value_method: :key, :required => false, :include_blank => true %>
      <% end %>
      <% if @localities && (@localities.length > 1) %>
        <%= f.input :in_locality, collection: @localities, value_method: :key, :required => false %>
      <% end %>
      <div class="row div_precios_venta" style="">
        <div class="col-sm-6">
          <%= f.input :count_bedrooms, collection: 0..50, :required => false,
      selected: @search_defaults["count_bedrooms"] %>
        </div>
        <div class="col-sm-6">
          <%= f.input :count_bathrooms, collection: 0..20, :required => false,
      selected: @search_defaults["count_bathrooms"] %>
        </div>
      </div>
      <%# f.input :property_state, collection: @property_states, label_method: :label, value_method: :value, :required => false %>
      <div>
      </br>
      <%= f.button :button, :class=> "btn fondo_accion btn-icon", 
        :id => "btn_buscar_inmuebles" do %>
        <i class="fa fa-search"></i>
        <%= I18n.t("search") %>
      <% end %>
    </div>
  <% end %>
</div>
</div>