<% page_title @page.page_title  %>
<!-- Brussels Theme Generic Page -->
<div class="bg-gray-100 py-4">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap items-center justify-between">
      <h2 class="text-xl font-normal text-brussels-dark">
        <%= @page.main_link.link_title %>
      </h2>
      <nav class="flex" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 text-sm">
          <li class="inline-flex items-center">
            <a href="/" class="text-gray-600 hover:text-brussels-lime transition-colors">
              <%= I18n.t("webContentSections.home") %>
            </a>
          </li>
          <li>
            <div class="flex items-center">
              <svg class="w-4 h-4 text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <span class="ml-1 text-gray-500">
                <%= @page.main_link.link_title %>
              </span>
            </div>
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container mx-auto px-4 py-8">
  <% @page_contents_for_edit.each_with_index do |page_content, index| %>
    <div class="w-full mb-6" <%= "data-pwb-page-part=#{page_content.page_part_key}".html_safe if params[:edit_mode] == 'true' %>>
      <% if page_content.is_rails_part %>
        <%= render partial: "pwb/components/#{page_content.page_part_key}", locals: {} rescue nil %>
      <% elsif page_content.container? %>
        <%= render_container_page_part(page_content, params[:edit_mode] == 'true') %>
      <% else %>
        <%== @content_to_show[index] %>
      <% end %>
    </div>
  <% end %>
</div>
