<div class="panel panel-default panel-sidebar-1">
  <div class="panel-heading">
    <h2>
      <%= I18n.t("requestPropertyInfo") %>
    </h2>
  </div>
  <div class="panel-body">

<%= form_for :contact, :url => '/request_property_info.js', :method => 'post', 
  :html => { :class => 'form-light mi_form' }, :remote => true do |f| %>

      <p style="display:none;">
        <%= 'solicite_info' %>
      </p>
      <%=  f.hidden_field :locale, :value => I18n.locale %>
      <%=  f.hidden_field :property_id, :value => @property_details.id %>

      <div class="form-group fila_form">

        <%= simple_inmo_input f, "name", "name", "text", true %>
      </div>
      <div class="form-group fila_form">
        <%= simple_inmo_input f, "email", "email", "email", true %>
      </div>

      <div class="form-group fila_form">
        <%= simple_inmo_input f, "tel", "tel", "text", false %>
      </div>

      <div class="form-group fila_form">
        <%= simple_inmo_textarea f, "message", "message", "text", false %>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div id="request-info-result"></div>
        </div>
        <div class="col-sm-12">
          <button type="submit" class="btn fondo_accion width100"><i class="fa fa-envelope"></i>
          <%= I18n.t("send") %>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div id="resp_enviar"></div>
        </div>
      </div>
<% end %>

  </div>
</div>
