<div class="bg-gray-100 py-4">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap items-center">

      <% if @is_subdomain_admin  %>
      <div class="w-full mb-2">
        <span class="inline-block">
          <a href="<%= @property_details.admin_url %>" class="text-blue-600 hover:text-blue-800">
            <i class="fa fa-pencil"></i>
            <%= t "labels.edit" %>
          </a>
        </span>
      </div>
      <% end %>

      <div class="w-full md:w-5/6">
        <h2 class="text-2xl font-bold text-gray-800">
          <%= @property_details.title %>
        </h2>
      </div>
      <div class="w-full md:w-1/2 hidden">
        <nav class="flex" aria-label="Breadcrumb">
          <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
              <a href="/" class="text-gray-700 hover:text-blue-600">
                <%= I18n.t("webContentSections.home") %>
              </a>
            </li>
            <li>
              <div class="flex items-center">
                <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                <span class="ml-1 text-gray-500 md:ml-2">
                  <%= @property_details.title %>
                </span>
              </div>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
