<h4 style="text-decoration:underline"><%= @title %></h4>

<p>
  <b>
  <%= t('mailers.received_on') %>:
  </b>
  <%= @message.created_at %>
</p>

<p>
  <b>
  <%= t('mailers.from') %>:
  </b>
  <%= "#{@contact.first_name} (#{@contact.primary_email})" %>
</p>

<p>
  <b>
  <%= t('mailers.phone') %>:
  </b>
  <%= "#{@contact.primary_phone_number}" %>
</p>

<p>
  <b>
  <%= t('mailers.message') %>:
  </b>
  <br>
  <%= @message.content %>
</p>