  <!-- Start Property header  -->
<section id="aa-property-header" style="<%= bg_image((@property_details.ordered_photo 1), height: 800, crop: "scale", quality: "auto") %>">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-property-header-inner">
          <h2>
          <%= I18n.t("property.details") %>
          </h2>
          <ol class="breadcrumb">
            <li>
              <%= link_to pwb.root_path(locale: locale), class: "" do %>
                <%= I18n.t("webContentSections.home") %>
              <% end %>  
            </li>
            <li class="active"><%= @property_details.title %>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Property header  -->
<!-- Start Properties  -->
<section id="aa-properties">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="aa-properties-content">
          <!-- Start properties content body -->
          <div class="aa-properties-details">
            <div class="aa-properties-details-img">
              <% @property_details.prop_photos.each.with_index do |photo, index| %>
                <%= opt_image_tag(photo, height: 800, crop: "scale", :quality => "auto", class: "", alt: "img") %>
              <% end %>
            </div>
            <div class="aa-properties-info">
              <h2>
                <%= @property_details.title %>
              </h2>
              <div class="aa-price">
                <%= @property_details.contextual_price_with_currency @operation_type %>
              </div>
              <div>
                <%== @property_details.description %>
              </div>
              <%= render '/pwb/props/prop_info_list' %>
              <% if  @property_details.extras_for_display.present? %>
                <h3><%= I18n.t("property.extras") %></h3>
                <%= render '/pwb/props/extras' %>
              <% end %>
              <br>
            </div>
            <!-- Properties social share -->
            <div class="aa-properties-social" style="display:none;">
              <ul>
                <li>Share</li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="sidebar aa-properties-sidebar">
          <%= render '/pwb/props/request_prop_info' %>
          <%= render '/pwb/props/prop_contact_info' %>
        </div>
      </div>
    </div>
  </div>
  <% if @property_details.show_map %>
    <div id="inmo-map-canvas" class="map-canvas no-margin"></div>
  <% end %>
</section>
<!-- FOOTER -->