<!-- HEADER -->
<div class="fondo_principal">
  <div class="container-off-off">
    <div class="row">
      <div class="col s6 hidden-xs contacto_header">
        <% if @current_agency.phone_number_primary %>
          <i class="fa fa-phone-square fa-lg"></i><%= @current_agency.phone_number_primary %> &nbsp;&nbsp;          
          <% end %>
        <% if @current_agency.email_primary %>
          <i class="fa fa-envelope fa-lg"></i><%= @current_agency.email_primary %>
        <% end %>
      </div>
      <div class="col s6">
        <% if @current_website.is_multilingual && not_devise %>
          <div class="contenedor_idiomas" style="">
            <ul class="idiomas">
              <% @current_website.supported_locales_with_variants.each do |locale_with_var| %>
                <li class=<%="#{'selected' if locale.to_s == locale_with_var["locale"]}" %>>
                  <%= localized_link_to locale_with_var, params.permit(:locale,).merge({:locale => locale_with_var["locale"]}), class: locale_with_var["variant"] %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<header class="header-standard-2">
  <!-- MAIN NAV -->
  <div class="navbar navbar-wp navbar-arrow mega-nav" role="navigation">
    <div class="container-off-off">
      <!--/.nav-collapse -->
    </div>
  </div>
</header>
<nav class="white" role="navigation">
  <div class="nav-wrapper container-off">
    <span class="brand-logo">
      <%= link_to pwb.root_path(locale: locale), class: "navbar-brand" do %>
        <% if @current_website.logo_url  %>
          <img src="<%= @current_website.logo_url %>" alt="Logo">
        <% else %>
          <span class="text-navbar-brand" style="">
            <%= @current_agency.company_name %>
          </span>
        <% end %>
      <% end %>
    </span>
    <ul class="right hide-on-med-and-down">
      <% @sections.each do |section| %>
        <%= top_nav_link(section) %>
      <% end %>
      <% if @show_admin_link  %>
        <% if current_user %>
          <!-- Dropdown Trigger -->
          <li class="<%= 'selected' if current_page?(pwb.admin_with_locale_path(locale: locale)) %>">
            <a class="dropdown-button" href="#!" data-activates="admin-dropdown">
              <%= t "navbar.admin" %>
              <i class="material-icons right">arrow_drop_down</i></a></li>
          <li >
            <ul id="admin-dropdown" class="dropdown-content">
              <li>
                <%= link_to I18n.t("navbar.admin"), pwb.admin_with_locale_path(locale: locale)  %>
              </li>
              <li>
                <%= link_to I18n.t("changePassword"), pwb.edit_user_registration_path() %>
              </li>
              <li>
                <%= link_to I18n.t("signOut"), pwb.destroy_user_session_path(), method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="">
            <%= link_to I18n.t("navbar.admin"), pwb.admin_with_locale_path(locale: locale)  %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <% @sections.each do |section| %>
        <%= top_nav_link(section) %>
      <% end %>
      <% if @show_admin_link  %>
        <% if current_user %>
          <li>
            <%= link_to I18n.t("navbar.admin"), pwb.admin_with_locale_path(locale: locale)  %>
          </li>
          <li>
            <%= link_to I18n.t("changePassword"), pwb.edit_user_registration_path() %>
          </li>
          <li>
            <%= link_to I18n.t("signOut"), pwb.destroy_user_session_path(), method: :delete %>
          </li>
        <% else %>
          <li class="">
            <%= link_to I18n.t("navbar.admin"), pwb.admin_with_locale_path(locale: locale)  %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>