<% page_title @page.page_title  %>
<!-- MAIN CONTENT -->
<div class="pg-opt">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>
          <%= @page.link_title %>
        </h2>
      </div>
      <div class="col-md-6" style="">
        <ol class="breadcrumb">
          <li><a href="/">
              <%= I18n.t("webContentSections.home") %>
            </a></li>
          <li class="active">
            <%= @page.link_title %>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<section class="slice bg-white bb static-content-panel">
  <div class="wp-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%== @page.raw_html %>
        </div>
        <% @page.details["cmsPartsList"].each do |cmspart| %>
          <%== cmspart["content_cache"] %>          
        <% end %>
      </div>
    </div>
  </div>
</section>
<!-- FOOTER -->