<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @page&.page_title %> - <%= @page_part_key %></title>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%
      theme_name = @current_website&.theme_name || 'default'
      # Theme-specific stylesheet loading
      case theme_name
      when 'bristol'
        # Bristol uses Tailwind CSS and its own stylesheet
    %>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
        <%= stylesheet_link_tag "bristol_theme", media: "all" %>
    <% else %>
        <%= stylesheet_link_tag "pwb/themes/#{theme_name}", media: "all" %>
    <% end %>
    <style>
      <%= custom_styles(theme_name) %>
    </style>
    <%= javascript_include_tag "pwb/application", async: false %>
    <%= csrf_meta_tags %>
  </head>
  <body class="tnt-body page-part-body <%= @current_website&.theme_name || 'default' %>-theme">
    <div class="page-part-container">
      <%= yield %>
    </div>
  </body>
</html>
