<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <title><%= yield(:page_title) %></title>
    <%= yield(:page_head) %>
    <%# display_meta_tags site: @current_website.tenant_display_name %>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    "pwb/themes/matt", media: "all" %>
  </head>
  <body>
    <div id="app">
      <v-app light fixed-footer fill-height footer>
        <v-container style="padding: 0px">
        <%= render :partial => '/pwb/header', :locals => { not_devise: true }  %>
        <v-toolbar class="white">
          <v-toolbar-title v-text="title"></v-toolbar-title>
        </v-toolbar>
        <main>
          <v-container fill-height>
            <%= yield %>
          </v-container>
        </main>
        <%= render :partial => '/pwb/footer', :locals => {}  %>
        <%= render :partial => '/pwb/analytics', :locals => {}  %>
        </v-container>
      </v-app>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <script>
      new Vue({
                      el: '#app',
                      data () {
                        return {
                          title: 'Your Logo'
                        }
                      }
                    })
    </script>
  </body>
</html>