<section class="slice light-gray bb">
  <div class="wp-section">
    <div class="container">
      <div class="section-title-wr">
        <h3 class="section-title left"><span>Our team</span></h3>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="wp-block inverse">
            <div class="figure">
              <img alt="" src="<%= page_part["person_img_url_a"]["content"] %>" class="img-responsive">
            </div>
            <h2><%= page_part["person_name_a"]["content"] %><small><%= page_part["person_title_a"]["content"] %></small></h2>
            <p>
              <%= page_part["person_details_a"]["content"] %>
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="wp-block inverse">
            <div class="figure">
               <img alt="" src="<%= page_part["person_img_url_b"]["content"] %>" class="img-responsive">
            </div>
            <h2><%= page_part["person_name_b"]["content"] %><small><%= page_part["person_title_b"]["content"] %></small></h2>
            <p>
              <%= page_part["person_details_b"]["content"] %>
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="wp-block inverse">
            <div class="figure">
               <img alt="" src="<%= page_part["person_img_url_c"]["content"] %>" class="img-responsive">
            </div>
            <h2><%= page_part["person_name_c"]["content"] %><small><%= page_part["person_title_c"]["content"] %></small></h2>
            <p>
              <%= page_part["person_details_c"]["content"] %>
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="wp-block inverse">
            <div class="figure">
               <img alt="" src="<%= page_part["person_img_url_d"]["content"] %>" class="img-responsive">
            </div>
            <h2><%= page_part["person_name_d"]["content"] %><small><%= page_part["person_title_d"]["content"] %></small></h2>
            <p>
              <%= page_part["person_details_d"]["content"] %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
