<footer class="footer fondo_footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 copyright">
        © <%= t 'copyright' %>.
            </div>
      <div class="col-lg-3 social">
      </div>
    </div>
  </div>
</footer>
<footer class="footer fondo_footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 copyright">
        © <%= t 'copyright' %>.
                <%= link_to I18n.t("legalAdvice"), legal_path(locale: locale)  %>.
                <%= link_to I18n.t("privacyPolicy"), privacy_policy_path(locale: locale)  %>.
                <%= link_to I18n.t("navbar.admin"), admin_with_locale_path(locale: locale)  %>.
            </div>
      <div class="col-lg-3 social">
        <%= social_media_link(@current_agency, "facebook", "Facebook", "fa-facebook fa-2x") %>
        <%= social_media_link(@current_agency, "twitter", "Twitter", "fa-twitter fa-2x") %>
        <%= social_media_link(@current_agency, "linkedin", "Linked In", "fa-linkedin fa-2x") %>
        <%= social_media_link(@current_agency, "youtube", "YouTube", "fa-youtube fa-2x") %>
        <%= social_media_link(@current_agency, "pinterest", "Pinterest", "fa-pinterest fa-2x") %>
        <%= social_media_link(@current_agency, "gplus", "Google Plus", "fa-google-plus fa-2x") %>
      </div>
    </div>
  </div>
</footer>