<!-- <footer class="footer fondo_footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 copyright">
        © <%# t 'copyright' %>.
            </div>
      <div class="col-lg-3 social">
      </div>
    </div>
  </div>
</footer> -->
<footer class="footer fondo_footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-6 copyright">
        <%= link_to I18n.t("legalAdvice"), pwb.legal_path(locale: locale)  %>.
        <%= link_to I18n.t("privacyPolicy"), pwb.privacy_policy_path(locale: locale)  %>.
        <%= link_to I18n.t("navbar.admin"), pwb.admin_with_locale_path(locale: locale)  %>.
      </div>
      <div class="col-sm-5 col-xs-6 social-default">
        <%= social_media_link(@current_agency, "facebook", "Facebook", "fa-facebook fa-2x") %>
        <%= social_media_link(@current_agency, "twitter", "Twitter", "fa-twitter fa-2x") %>
        <%= social_media_link(@current_agency, "linkedin", "Linked In", "fa-linkedin fa-2x") %>
        <%= social_media_link(@current_agency, "youtube", "YouTube", "fa-youtube fa-2x") %>
        <%= social_media_link(@current_agency, "pinterest", "Pinterest", "fa-pinterest fa-2x") %>
        <%= social_media_link(@current_agency, "gplus", "Google Plus", "fa-google-plus fa-2x") %>
      </div>
      <div class="col-sm-3 col-xs-6">
        <p>Powered by <a href="https://github.com/etewiah/property_web_builder">PropertyWebBuilder</a></p>
      </div>
    </div>
  </div>
</footer>