<footer class="footer fondo_footer">
<div class="pusher">
  <div class="container">
    <div class="row flex-md" style="">
      <div class="col-sm-4 col-xs-6 copyright">
        <div class="col">
          <h4><%= @current_agency.company_name %></h4>
          <ul class="contact">
            <li>      
              <%= agency_info(@current_agency, "phone_number_primary", "tel", "fa-phone") %>
            </li>
            <li>
              <%= agency_info(@current_agency, "email_primary", "email", "fa-envelope") %>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 col-xs-6 social-default flex-col" style="">
        <div style="display: flex;margin-top: auto;">
        <%= social_media_link(@current_website, "facebook", "Facebook", "fa-facebook fa-2x") %>
        <%= social_media_link(@current_website, "twitter", "Twitter", "fa-twitter fa-2x") %>
        <%= social_media_link(@current_website, "linkedin", "Linked In", "fa-linkedin fa-2x") %>
        <%= social_media_link(@current_website, "youtube", "YouTube", "fa-youtube fa-2x") %>
        <%= social_media_link(@current_website, "pinterest", "Pinterest", "fa-pinterest fa-2x") %>
        <%= social_media_link(@current_website, "gplus", "Google Plus", "fa-google-plus fa-2x") %>
        </div>
      </div>
      <!-- sign up form -->
      <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14 Helvetica,Arial,sans-serif; width:100;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://theoverseashomeshow.us15.list-manage.com/subscribe/post?u=a6e14febbbad7012e65389ed5&amp;id=778420b5b8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscribe to our mailing list</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a6e14febbbad7012e65389ed5_778420b5b8" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
      <div class="col-sm-4 col-xs-6 flex-col">
        <div class="footer-extra">
          <%== @footer_content.raw %>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-6 copyright">
        <%= render_footer_links %>
        <%# link_to I18n.t("navbar.admin"), pwb.admin_with_locale_path(locale: locale)  %>
      </div>
      <div class="col-sm-6">
        <p  style="float: right;">Powered by <a href="http://propertywebbuilder.com">PropertyWebBuilder</a></p>
      </div>
    </div>
  </div>
</div>
</footer>
