<% page_title @property_details.title  %>
<%= render '/pwb/props/breadcrumb_row' %>
<!-- MAIN CONTENT -->
<section class="slice bg-white bb">
  <div class="wp-section estate">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-12">
              <%= render '/pwb/props/images_section_carousel' %>
            </div>
            <div class="col-md-12">
              <%= render '/pwb/props/prop_info_list' %>
            </div>
          </div>
          <!-- PROPERTY DESCRIPTION -->
          <div class="row">
            <div class="col-md-12">
              <h3><%= I18n.t("property.description") %></h3>
              <%== @property_details.description %>
              <br>
              <br>
            </div>
            <div class="col-md-12">
              <% if @property_details.extras_for_display.present? %>
                <h3><%= I18n.t("property.extras") %></h3>
                <%= render '/pwb/props/extras' %>
                <br>
                <br>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="sidebar">
            <%= render '/pwb/props/request_prop_info' %>
            <%= render '/pwb/props/prop_contact_info' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <social-sharing  class="center"  inline-template>
    <div class="social-icons icon-circle">
      <network network="facebook">
        <i class="fa fa-facebook"></i>
      </network>
      <network network="googleplus">
        <i class="fa fa-google-plus"></i>
      </network>
      <network network="linkedin">
        <i class="fa fa-linkedin"></i>
      </network>
      <network network="twitter">
        <i class="fa fa-twitter"></i>
      </network>
    </div>
  </social-sharing>
</section>
<% if @property_details.show_map %>
  <div id="inmo-map-canvas" class="map-canvas no-margin">
    <inmo-map style="min-height: 600px;"
    :markers="<%= @map_markers.to_json %>"
        :zoom="15">
    </inmo-map>
  </div>
<% end %>
