  <!-- Start header section -->
<header id="aa-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-header-area">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="aa-header-left">
                <% if @current_agency.phone_number_primary %>
                  <div class="aa-telephone-no">
                    <span class="fa fa-phone"></span>
                    <%= @current_agency.phone_number_primary %> &nbsp;&nbsp;
                 </div>
                <% end %>
                <% if @current_agency.email_primary %>
                  <div class="aa-email hidden-xs">
                    <span class="fa fa-envelope-o"></span>
                    <%= @current_agency.email_primary %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="aa-header-right">
                <% if @current_website.is_multilingual && not_devise %>
                  <div class="contenedor_idiomas" style="">
                    <ul class="idiomas">
                      <% @current_website.supported_locales_with_variants.each do |locale_with_var| %>
                        <li class=<%="#{'selected' if locale.to_s == locale_with_var["locale"]}" %>>
                          <%= localized_link_to locale_with_var, params.permit(:locale,).merge({:locale => locale_with_var["locale"]}), class: locale_with_var["variant"] %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End header section -->
<!-- Start menu section -->
<section id="aa-menu-area">
  <nav class="navbar navbar-default main-navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- LOGO -->
        <% if @current_website.logo_url  %>
          <!-- Image based logo -->
          <%= link_to pwb.root_path(locale: locale), 
          class: "navbar-brand aa-logo-img" do %>
            <img src="<%= @current_website.logo_url %>" alt="logo">
          <% end %>
        <% else %>
          <!-- Text based logo -->
          <%= link_to pwb.root_path(locale: locale), 
          class: "navbar-brand aa-logo" do %>
            <%= @current_agency.display_name %>
          <% end %>
        <% end %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul id="top-menu" class="nav navbar-nav navbar-right aa-main-nav">
          <% @sections.each do |section| %>
            <%= section_tab(section) %>
          <% end %>
          <% if @show_admin_link  %>
            <% if current_user %>
              <li class="<%= 'selected' if current_page?(pwb.admin_with_locale_path(locale: locale)) %>">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= t "navbar.admin" %>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to I18n.t("navbar.admin"), pwb.admin_with_locale_path(locale: locale)  %>
                  </li>
                  <li>
                    <%= link_to I18n.t("changePassword"), pwb.edit_user_registration_path() %>
                  </li>
                  <li>
                    <%= link_to I18n.t("signOut"), pwb.destroy_user_session_path(), method: :delete %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li class="">
                <%= link_to I18n.t("navbar.admin"), pwb.admin_with_locale_path(locale: locale)  %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
</section>
<!-- End menu section -->