<div class="section">
  <div class="row">
      <div class="col s12 m12">
        <h3 class="section-title left" style="text-transform: none;"><span><%= t title_key %></span></h3>
      </div>

    <% properties.each_with_index do |property, index| %>
      <div class="col s12 m4">
        <div class="">
          <div class="listing-card card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="" src="<%= opt_image_url((property.ordered_photo 1), :quality => "auto", crop: "scale", class: "") %>">
            </div>
            <div class="card-content">
              <%= link_to property.contextual_show_path(rent_or_sale) do %>
                <span class="card-title  grey-text text-darken-4">
                  <%= property.title  %>
                </span>
                <p><%= property.contextual_price_with_currency rent_or_sale  %></p>
                            </div>

                <ul class="aux-info">
                  <li class="hidden-xs"><i class="fa fa-bed"></i> <small>
                      <%= property.count_bedrooms %>
                    </small></li>
                  <li class="hidden-xs"><i class="fa fa-shower"></i> <small>
                      <%= property.count_bathrooms %>
                    </small></li>
                  <li class="hidden-xs"><i class="fa fa-arrows-alt"></i> <small>
                      <%= property.constructed_area %><%= area_unit property %>
                    </small></li>
                  <li class="hidden-xs">
                    <% if property.has_garage %>
                      <i class="fa fa-car"></i>
                      <small>
                        <%= property.count_garages %>
                      </small>
                    <% end %>
                  </li>
                </ul>
              <% end %>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
